body { font-family: "微软雅黑",Arial,"Century Gothic",sans-serif, "Gill Sans";
	   font-size:14px;
	   color:#626262;
	   margin: 0;
	   padding: 0;
	   text-align:left;
	   word-spacing : 0.02em;
       letter-spacing:0.04em;
	   background:#1a1a1a;
	   margin-bottom:25px;
	   margin-top:25px;
       }
	   
a{color:#626262;
  text-decoration: none;}
  
a:hover{color:#00dbfc;
}

.bl{
   color:#0e9bfd;
}
.bb{
	border-top:0px;
	border-bottom:1px dashed #DCDCDC;
}

p,h1,h2,h3,h4,h5,h6,ol,ul {
	margin: 0px;
	padding: 0px;
	font-weight:normal;
	font-size: 14px;
	}
	
p{ line-height:1.8em;
   padding:6px 8px 6px 8px;
   }
   
h1{font-family:sans-serif;
   font-weight:bold;
   padding:8px;
   padding-left:20px;
   background:url(../images/h2.gif) no-repeat 7px 12px;
  }
h2{padding:4px;
   padding-left:10px;
    background:#F8F8F8;
	border:1px solid #DCDCDC;
   }
h3{padding:6px;
   padding-left:16px;
   text-align:left;
   line-height:22px;
   border-top:1px dashed #DCDCDC;
  }
h4{border-bottom:1px solid #deecf5;
   font-weight:bold;
   height:24px;
   }
	
h5{padding:7px;
   font-size:16px;
   font-weight:bold;
   color:#0e9bfd;
   letter-spacing:0.05em;
   border-bottom:1px solid #deecf5;
   }
h6{padding:6px;
   padding-left:8px;
   text-align:center;
   font-weight:bold;
   }
/*********************/
/* about */
/*********************/
.about{
    	padding:4px;
	}
.about a{color:#0e9bfd;
  text-decoration: none;}
  
.about a:hover{color:#00dbfc;
}
.about img{
	float:left;
	text-align:left;
	margin-right:20px;
}

.about ul li{
	padding-bottom:7px;
	list-style-position:inside;
}

/*********************/
/* container */
/*********************/      
#container{
           margin-right:auto;
		   margin-left:auto;
		   width:980px;
           height:100%; 
		   text-align:center;
		   background: url(../images/bg.gif) repeat-y top center;
		   }
/*********************/
/* head */
/*********************/
#head{border-top:4px solid #00dbfc;
      height:89px;
      position: relative;
	  background: url(../images/top2.jpg) no-repeat top center;
	 }
/*********************/
/* pagebody */
/*********************/
#pagebody{
          height:100%;
          text-align:left;
		 }

/*********************/
/* sidebar */
/*********************/
#sidebar{
         float:right;
         clear:right;
	     display:inline;
	     overflow:hidden;
	     width:240px;
	     height:100%;
		 }
		 
#sidebar #Categries li{
		width:160px;
}

#sidebar #Categries li span{
        float:right;
}

/*********************/
/* more */
/*********************/
.m1{font-family:sans-serif;
    padding:6px;
    padding-left:10px;
    font-weight:bold;
	}
.m2{font-family:sans-serif;
    padding:6px;
    padding-left:25px;
	font-weight:bold;
	background:url(../images/mbi_005.gif) no-repeat 6px 5px;
	}
/*********************/
/* menu */
/*********************/
#menu{height:30px;
	  width:980px;
	  background:#262626;
	 }
#menu ul{
         float:right;
         }	  
#menu ul li{float:left;
            display:inline;
	        display: block;
			padding-top:1px;
			line-height:25px;
			width:100px;
		 }
#menu li a {
          display: block;
          color:#e7e8ea;
	      text-decoration: none;
          border-bottom:3px solid #262626;
	      }
#menu li a:hover{
          display: block;
          color:#00dbfc;
	      text-decoration: none;
          border-bottom:3px solid #00dbfc;
	      }

/*********************/
/* sidebar */
/*********************/		  		   	   
#sidebar ul{
		    padding-left:9px;
            text-align:left;
		    list-style-type:none;
		    display: block;
		   }
#sidebar ul li{line-height:28px;
               padding-left:12px;
               overflow:hidden;
               text-overflow:ellipsis;
               white-space:nowrap;
               width:205px;
               background:url(../images/dd.gif) no-repeat left 12px;
		   }
#sidebar ul li img{
			  	border:0px;
		   }
#login{border-bottom:1px dashed #DCDCDC;}
#login td{text-align:center;}
.STYLE2 {
	font-size: 14px;
	font-weight: bold;
}
.username{height:14px;
          border:1px solid #DCDCDC;
          width:90px;
		  }
.password{height:14px;
          border:1px solid #DCDCDC;
          width:90px;
		  }
.lo{padding:6px;
    padding-left:7px;}
.re{padding:6px;
    padding-right:7px;
   }		  
#Categries {border-bottom:1px dashed #DCDCDC;}
#Blogs{border-bottom:1px dashed #DCDCDC;}
#comments{border-bottom:1px dashed #DCDCDC;}
#Statistics{border-bottom:1px dashed #DCDCDC;}
#links{border-bottom:1px dashed #DCDCDC;}
#my{}
/*********************/
/* mainbody */
/*********************/
#mainbody{
          float:left;
          clear:left;
	      display:inline;
          overflow:hidden;
          width:730px;
	      height:100%;
		  padding:4px;
		  }
#nr{height:100%;
    	padding:4px;
	}
.sm{
    	padding:4px;
	}
.sm a{color:#0e9bfd;
  text-decoration: none;}
  
.sm a:hover{color:#00dbfc;
}
.tp{text-align:center;
    }
.tg{margin:10px;
   }
.lg{padding:10px;
    padding-bottom:8px;
   }

/*********************/
/* footer */
/*********************/
#foot{color:#e7e8ea;
      width:980px;
	  line-height:28px;
      text-align:center;
      clear:both;
      background:#0d0d0d;
      border-top:4px solid #262626;
	  }
/*********************/
/* comment */
/*********************/
#pcomment{margin-left:20px;}
#pcomment td{
			 height:24px;
             padding-top:4px;
             padding-bottom:4px;
			}
.pd{height:18px;
    border:1px solid #98D8FE;
	margin-left:5px;
	width:180px;
	}
.pt{
    border:1px solid #d4e2f0;
	margin-left:5px;
	}
.se{margin:6px;
    margin-left:160px;
   }  
.rt {margin:6px;
    margin-left:45px;
   }  